body{
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #eee;
	
}

a{
	text-decoration: none;
}

.layout{
	background-image: url("../images/Background.png");
	margin:auto 0 ;
	height: 720px;
	width:950px;
	position: relative;
	overflow: auto;
	
}
/* page layout styling ends here */
.navbar{
	height: 80px;
	width:100%;
	display:flex;
	justify-content: space-around;
	border-bottom:solid 1px #ccc;	
}
.navbar ul{
	display: flex;
	justify-content: space-between;
}
.navbar li{
	list-style: none;
	padding: 15px;
}
li:hover{
	background-color: #4aaaa5;
	color:#fff;
	border-radius: 5%;
}
a:hover{
	background-color: #4aaaa5;
	color:#fff;	
}
.navbar h1{
	padding:20px 15px 20px 15px;
	margin-top:0px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #4aaaa5;
}

/* navbar styling ends here */
.about{
	margin-left: 30px;
	margin-top: 30px;
	width: 600px;
	height:400px;
	float:left;
	border:1px solid #ddd;
} 
.subHeader{
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: solid 2px #d3d3d3;
	padding-bottom: 10px;
}
.about img{
	margin:10px 20px 0px 20px;
	height:200px;
	width:150px;
	float:left;
	
}
.about p {
	line-height: 200%

}
/* main index content styling ends here */
.contact {
	margin-left: 30px;
	margin-top: 30px;
	width: 600px;
	height: 450px;
	float:left;
	border:1px solid #ddd;
}

.contact form{
	margin-left: 20px;
}
.contact h4 {
	margin-top:0px;
	margin-bottom: 10px;
}
.largeInput{
	height: 25px;
	width: 90%;
}
.largestInput {
	height:150px;
	width: 90%;

}

.submitButton{
	height:40px;
	width:150px;
	color:#fff;
	background-color: #4aaaa5;
	margin-top: 20px;
	margin-right:20px;
}
/*main contact content styling ends here*/
.portfolio{
	margin-left: 30px;
	margin-top: 30px;
	width: 600px;
	height:520px;
	float:left;
	border:1px solid #ddd;

}
.imageBoxes{
	width:200px;
    height: 125px;
    background:#4aaaa5;
    color:#fff;
    position:relative;
    float: left;
    margin: 2% 2% 2% 12%;

}
.imageBoxes p {
	position:absolute;
	bottom:0;
	width: 100%;
	text-align: center;
	padding-bottom:15px;
	background-color:#4aaaa5;
}
.box1{

	background-image: url(../images/hangman.png);

	background-size: cover;
}
.box2{
	background-image: url(../images/RPG.png);
	clear:right;
	background-size: cover;
}
.box3{
	background-image: url(../images/trivia.png);
	background-size: cover;
}
.box4{
	background-image: url(../images/RIW.png);
	background-size: cover;
}
.box5{
	background-image: url(../images/RockPaper.png);
	background-size: cover;
}
/*main portfolio content styling ends here*/
.connect{
	margin-top: 30px;
	width: 270px;
	height:200px;
	
	border:1px solid #ddd;
}

.connect img {
	height: 50px;
	width: 50px;
	margin-left: 25px;
	margin-top:20px;
}
.connect h2{
	margin-right: 15px;
	margin-left: 15px;
	border-bottom:solid 2px #d3d3d3;
}
/* sidebar styling ends here */

.whiteBackground{
	background-color: #fff;
}
.tealColor{
	color:#4aaaa5;
}
footer{
 	border-top: 5px solid #4aaaa5;
 	display: flex;
	background-color: #666;
	color: #fff;
	position:absolute;
	bottom: 0;
	width:100%;
	height:60px;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
.textColor {
	color:#777;
}
.justify{
	display: flex;
	justify-content: space-around;
}
/* colors end here */
@media (max-width: 980px){
	.layout{
		width:100%;
		height:1000px;
		
		
	}
	.about {

		height:650px;
		width: 350px;
	}
	.about p{
		padding: 5px;
	}
	.contact{
		width: 450px;
		height: 650px;
	}
    .portfolio{
	
		height: 800px;
		width:350px;
	}
	.imageBoxes{
		margin-left: 22%
	}

}
@media (max-width: 768px) {
	.layout{
		height:800px;
		width:100%;
		
		
	}
	.justify{
		display:flex;
		flex-direction: column;
	}
	.about{
		height:400px;
		width:90%;
    }
	.connect{
		margin-left: 30px;
		width:90%;
		margin-bottom: 30px;
	}
	.contact{
		height: 500px;
		width:90%;
	}

	footer{
		position: relative;
	}
	.portfolio{
		width:90%;

	}
	.imageBoxes{
		margin-left: 12%;
	}
}
@media (max-width: 640px) {
	.navbar h1{
		display: flex;
		justify-content: center;
	}
	.navbar{
		height:150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
    /*end of navbar styling*/
	.about{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 600px;
	}
	.about img{
		margin-left: 35%;
	}
	.imageBoxes{
		margin-left: 30%;
	}
	/* end of index.html media querie styling*/
